// //Google map car

gon.watch
json_array = gon.hasha



function createSidebarLi(json){
  return ("<p><a>" + json.marker_title + " (" + json.plaque + ")" + "</a></p>");
};

function bindLiToMarker($li, marker){
  $li.on('click', function(){
    handlers.getMap().setZoom(14);
    marker.setMap(handlers.getMap()); //because clusterer removes map property from marker
    marker.panTo();
    google.maps.event.trigger(marker.getServiceObject(), 'click');
  })
};

function createSidebar(json_array){
  _.each(json_array, function(json){
    var $li = $( createSidebarLi(json) );
    $li.appendTo('#vehicules');
    bindLiToMarker($li, json.marker);
  });
};


handlers = Gmaps.build('Google');
handlers.buildMap({provider: { disableDefaultUI: true, fullscreenControl: true, zoomControl: true }, internal: {id: 'map'}}, function(){
  var markers = handlers.addMarkers(json_array);

  _.each(json_array, function(json, index){
    json.marker = markers[index];
  });
  createSidebar(json_array);
  handlers.map.centerOn(markers[0]);
  handlers.bounds.extendWith(markers);
  handlers.getMap().setZoom(16);
});




function updateDiv()
{
    $( "#sidebar_builder" ).load(window.location.href + " #sidebar_builder" );
}

